a.sm_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
a.sm_button:hover {border-bottom-width:1px;}
a.sm_bug {background-image:url(../images/bug.png);}
a.sm_code {background-image:url(../images/code.png);}
a.sm_autor {background-image:url(../images/logo_small.png);}
a.sm_star {background-image:url(../images/star.png);}


